@use "./base.scss";

@font-face {
  font-family: "MapleMono";
  src: url("/static/fonts/MapleMono-NF-CN-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MapleMono";
  src: url("/static/fonts/MapleMono-NF-CN-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "MapleMono";
  src: url("/static/fonts/MapleMono-NF-CN-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "MapleMono";
  src: url("/static/fonts/MapleMono-NF-CN-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
